#version: '3.9'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} # Root password for MySQL
    ports: #forwards the traffic 3307 to 3306 mysql container
      - '3307:3306'   # Host port(my computer connect to localhost:3307): Container port(mysql)
    volumes:  #volumes for container
      - mysql-data:/var/lib/mysql    #the name of volume is mysql-data , mysql store the info in path /var/lib/mysql
    networks:   #networks that container will connect to
      - springboot-mysql #name of network springboot-mysql to communicate


  app:
    build: .
    container_name: springboot
    ports:
      - '8080:8080'  # Host port : Container port
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/sms
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql
    volumes:
      - app-data:/app/uploads
    networks:
      - springboot-mysql

volumes:  #Global Volumes
  mysql-data: {}
  app-data: {}


networks:
  springboot-mysql:
    driver: bridge


